<!--<div class="ng-modal" ng-show="data.visible">-->
    <div id="myModal" class="modal" ng-show="data.visible">
        <div class="modal-dialog myModal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-warning">{{data.content}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="onClose()">Close</button>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
