<div class="container-fluid">
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-12 col-sm-9">
               <!--<img src="{{data.logo}}" alt="logo">-->
                <div class="row">
                    <div class="col-xs-6 col-lg-4" ng-repeat="feed in feeds">
                        <h4>{{ feed.title.__cdata }}</h4>
                        <span ng-bind-html="getHtml(feed.image.__cdata)"></span><br>
                        <button class="btn btn-default" ng-click="tagParser($index)">Подробнее »</button>
                    </div><!--/.col-xs-6.col-lg-4-->
                </div><!--/row-->
            </div><!--/.col-xs-12.col-sm-9-->

        </div><!--/row-->

    </div>
    <div class="overlay loading-spinner" ng-if="spinner"></div>
</div>